body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f5f9;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.series-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    margin-top: 30px;
}

.series {
    width: 120px;
    height: 120px;
    background-color: #ecf0f1;
    border: 2px dashed #bdc3c7;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-box {
    width: 120px;
    height: 120px;
    background-color: white;
    border: 2px dashed #2980b9;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.figures-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.figure {
    width: 120px;
    height: 120px;
    background-color: #ecf0f1;
    border: 2px dashed #bdc3c7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.figure:hover {
    background-color: #bdc3c7;
}

.drop-box .figure {
    margin: 0; 
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2ecc71;
}

/* index.html */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
}

label {
    display: block;
    color: #666;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.fas {
    margin-right: 5px;
}

#userTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#userTable th, #userTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#userTable th {
    background-color: #f2f2f2;
}

/* resultados.html */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h2 {
    color: #333;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
    color: #666;
}

#username,
#tiempo,
#puntuacion {
    font-weight: bold;
    color: #444;
}

.username {
    color: #007bff;
}

.tiempo {
    color: #28a745;
}

.puntuacion {
    color: #dc3545;
}

.icon {
    margin-right: 5px;
}

.icon-user:before {
    content: "\f007";
}

.icon-clock:before {
    content: "\f017";
}

.icon-trophy:before {
    content: "\f091";
}

.icon-container {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #0056b3;
}